@import "global";
@import "fonts";

//start aside

.container-aside {
  position: fixed;
  width: 70px;
  height: 100%;
  background: #222831;
  z-index: 3;
}
.container-aside .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 40px;
  height: 40px;
  background-color: #32e0c4;
  border-radius: 50%;
  display: none;
}
.container-aside .btn-close:before {
  content: "";
  position: absolute;
  display: block;
  top: -20px;
  right: -20px;
  width: 90px;
  height: 80px;
}
.container-aside .btn-close .icon-item {
  display: block;
  width: 23px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  right: 9px;
}
.container-aside .btn-close .icon-item:nth-child(2) {
  top: 19px;
}
.container-aside .btn-close .icon-item:nth-child(3) {
  top: 25px;
}
.container-aside a {
  color: #fff;
}
.container-aside .logo {
  cursor: pointer;
  position: relative;
  display: block;
  height: 80px;
  background: #32e0c4;
}
.container-aside .logo .box-icon-logo {
  position: absolute;
  top: 30px;
  left: 14px;
  right: 14px;
  height: 22px;
  width: 42px;
}
.container-aside .logo .box-icon-logo .item-logo {
  display: block;
  height: 8px;
  background-color: #fff;
  float: right;
}
.container-aside .logo .box-icon-logo .item-logo:nth-child(1) {
  width: 19px;
}
.container-aside .logo .box-icon-logo .item-logo:nth-child(2) {
  width: 32px;
}
.container-aside .logo .box-icon-logo .item-logo:nth-child(3) {
  width: 42px;
}
.container-aside .menu-item {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 80px;
  transition: all 0.3s;
}
.container-aside .menu-item .icon {
  fill: #878789;
  transition: all 0.3s;
}
.container-aside .menu-item .menu-text {
  position: absolute;
  top: 0;
  left: -170px;
  height: 70px;
  width: 170px;
  background-color: #32e0c4;
  color: #222831 !important;
  font-size: 20px;
  text-align: center;
  line-height: 70px;
  color: transparent;
  transition: all 0.3s;
  z-index: 4;
}
.container-aside .menu-item:hover {
  background: #32e0c4;
}
.container-aside .menu-item:hover .icon {
  fill: #fff;
}
.container-aside .menu-item:hover .menu-text {
  color: #124268;
  left: 70px;
}
.container-aside .menu-item:focus {
  color: #198ada;
}
.container-aside .item.active .menu-item {
  background: #222831;
}
.container-aside .item.active .menu-item .icon {
  fill: #fff;
}

.icon-info {
  width: 24px;
  height: 24px;
}

.icon-fly {
  width: 22px;
  height: 21px;
}

.icon-man {
  width: 21px;
  height: 22px;
}

.icon-book {
  width: 24px;
  height: 26px;
}

.icon-doc-menu {
  width: 28px;
  height: 19px;
}

.icon-email-menu {
  width: 27px;
  height: 21px;
}
//end aside

//start header

.header {
  height: 80px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.menu-btn {
  display: block;
  width: 30px;
  div {
    background-color: #fff;
    height: 3px;
    margin-bottom: 4px;
  }
}
.header__content {
  display: flex;
  align-items: center;
}
.logo {
  height: 100%;
}
.header__text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  color: #fff;
  font-size: 10px;
  span {
    font-size: 8px;
  }
}
.header__social {
  font-size: 20px;
  li {
    & + li {
      margin-left: 15px;
    }
    display: inline-block;
  }
}
.social:hover {
  color: #32e0c4;
  transition: all 0.3s;
}
.header__email,
.header__tel {
  font-size: 10px;
  line-height: 1.8;
  transition: all 0.3s;
}
.header__email:hover,
.header__tel a:hover {
  color: #32e0c4;
  transition: all 0.3s;
}

.fa-envelope:before,
.fa-phone:before {
  padding-right: 10px;
  font-size: 12px;
}

//end header

//start main screen
.main-screen {
  height: 89.5vh;
  background: #e0f9f6;
  display: flex;
  align-items: center;
}
.main-screen__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 30%;
  }
}

.main-text {
  max-width: 700px;
  position: relative;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  color: #222831;
}

.main-text h3 {
  font-weight: 400;
  font-size: 19px;
}

.main-text h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  margin: 19px 0 22px;
  color: #393e46;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
}

.main-text h1 span {
  font-weight: 700;
  color: #32e0c4;
  text-transform: uppercase;
}

.main-text h6.ah-headline {
  font-size: 25px;
  font-weight: 500;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.ah-headline.clip span {
  padding: 0;
}

.ah-headline.clip span b {
  font-weight: 700;
}

.ah-headline.clip .ah-words-wrapper::after {
  display: none;
}

.call-to-actions-home a:first-child {
  margin-right: 25px;
}

.main-screen__text {
  margin-bottom: 15px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  padding-right: 100px;
}

.main-screen__text--other {
  margin-bottom: 35px;
}

//end main screen

//start about-page
.about-page {
  padding-top: 70px;
  padding-bottom: 60px;
}
.about-page__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-page__img {
  max-width: 390px;
}

.about-page__content {
  max-width: 555px;
}
.about-page__text {
  margin-bottom: 10px;
  line-height: 1.6;
}
.about-page__btn {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.about-page__items {
  padding-top: 70px;
}
.about-page__box-title {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 700;
}
.about-page__item-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.about-page__item-name {
  font-weight: 500;
  font-size: 16px;
  color: #32e0c4;
  font-style: italic;
}
.about-page__item-number {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
.about-page__item-line {
  height: 9px;
  border-radius: 2px;
  background-color: #32e0c4;
  margin-bottom: 23px;
  span {
    display: block;
    height: 9px;
    border-radius: 2px;
    background-color: #f4f4f4;
  }
}
//end about-page

//start portfolio-page
.portfolio {
  padding: 60px 0 30px;
}
.portfolio__inner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio__inner-item {
  position: relative;
  margin-bottom: 40px;
}
.portfolio__box {
  display: inline-block;
  position: relative;
}
.portfolio__box-img {
  width: 320px;
  height: 200px;
  border-radius: 3px;
}
.portfolio__box-info {
  background-color: rgba(50, 224, 196, 0.902);
  height: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  overflow: hidden;
  border-radius: 3px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.portfolio__box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  max-width: 310px;
}
.portfolio__box-text {
  font-size: 14px;
  max-width: 300px;
}
.portfolio__box:hover .portfolio__box-info {
  width: 325px;
  height: 205px;
  padding: 15px;
  transition: background 0.5s ease;
}
.portfolio-page__btn,
.services__btn {
  text-align: center;
}

//portfolio product

//start servises page

.services__title{
  margin: 30px 0;
}
.services__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-services {
  padding-bottom: 60px;
}

.services-list-icon {
  font-size: 30px;
  position: relative;
  color: #fff;
}

.services-flip {
  display: flex;
  min-height: 270px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 1200px;
  width: calc((100% - 30px) / 3);
}

.services-flip:hover .services-list {
  transform: rotate3d(1, 0, 0, 180deg);
}

.services-list {
  position: relative;
  transition-property: box-shadow, transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: inherit;
  perspective: inherit;
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
}

.services-list h5 {
  font-size: 20px;
  font-weight: 500;
}

.flip-content {
  transform: translate3d(0, 0, 60px) scale(0.85);
}
.flip-content__title,
.services-list__title{
  margin-bottom: 0;
}
.flip-content__title{
  color: #32e0c4;
}
.services-list__content{
  margin-top: 20px;
}
.services-list__text{
  margin-top: 20px;
  max-width: 320px;
}
.services-list-front {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 240px;
  background-color: #fff;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  transform-style: inherit;
  perspective: inherit;
}

.services-list-front:before {
  right: 0;
  content: "";
  position: absolute;
  background: #000;
  left: 0;
  height: 100%;
  opacity: 0.2;
}

.services-list-front h5 {
  padding: 11px 20px;
  background: #fff;
  font-size: 14px;
  border-radius: 2px;
}

.services-list-back {
  transform: rotateY(-180deg) rotateZ(-180deg);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate3d(0, 1, 0, 180deg);
  z-index: 1;
  background: #32e0c4;
  transform-style: inherit;
  perspective: inherit;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-list-back {
  transform: rotateY(-180deg) rotateZ(-180deg);
}

.services-list-back h5,
.services-list-back p {
  color: #fff;
}
.services__content{
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}
//start servises page

//start contact
.contact__title{
  margin: 30px 0;
}
.contact__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__inner-item{
  max-width: 750px;
}
.contact__inner-item li{
 display: block;
}
.contact__item-box{
  color: #32e0c4;
}
.contact-text{
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.contact-title{
  font-size: 16px;
}
.contact-content{
  margin: 10px 0 25px;
}
.contact-form__content{
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 30px;
}
.contact-form__form{
  display: flex;
  flex-direction: column;
  textarea {
    border: none;
    padding: 13px 17px;
    height: 190px;
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
    display: block;
    resize: none;
    margin-bottom: 23px;
    &::placeholder {
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  button {
    outline: none;
    border: 1px solid #32e0c4;
    background: transparent;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 15px 5px;
    width: 190px;
    transition: all 1s ease;
    cursor: pointer;
  }
}
.button:hover {
	background: #32e0c4;
	
}
.form__input{
  display: flex;
  justify-content: space-between;
  input {
    border: none;
    height: 43px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #f1f4f5;
    width: 360px;
    border-radius: 3px;
    display: block;
    margin-bottom: 30px;
    &::placeholder {
      font-size: 15px;
      color: #7a7a7a;
    }
  }
}
//end contact
