@import "global";
@import "fonts";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

//start preloader

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #222831;
  z-index: 30;
}

.contpre small {
  font-size: 25px;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}

.loader {
  height: 100%;
  width: 100%;
}
.loader .l_main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 172px;
  height: 128px;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 550px) {
  .loader {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@media (max-width: 440px) {
  .loader {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.l_square {
  position: relative;
}
.l_square:nth-child(1) {
  margin-left: 0px;
}
.l_square:nth-child(2) {
  margin-left: 44px;
}
.l_square:nth-child(3) {
  margin-left: 88px;
}
.l_square:nth-child(4) {
  margin-left: 132px;
}
.l_square span {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 36px;
  width: 36px;
  border-radius: 2px;
  background-color: #ffffff;
}
.l_square span:nth-child(1) {
  top: 0px;
}
.l_square span:nth-child(2) {
  top: 44px;
}
.l_square span:nth-child(3) {
  top: 88px;
}
.l_square:nth-child(1) span {
  -webkit-animation: animsquare1 2s infinite ease-in;
  animation: animsquare1 2s infinite ease-in;
}
.l_square:nth-child(2) span {
  -webkit-animation: animsquare2 2s infinite ease-in;
  animation: animsquare2 2s infinite ease-in;
}
.l_square:nth-child(3) span {
  -webkit-animation: animsquare3 2s infinite ease-in;
  animation: animsquare3 2s infinite ease-in;
}
.l_square:nth-child(4) span {
  -webkit-animation: animsquare4 2s infinite ease-in;
  animation: animsquare4 2s infinite ease-in;
}
.l_square span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.l_square span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.l_square span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes animsquare1 {
  0%,
  5%,
  95%,
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  30%,
  70% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@keyframes animsquare1 {
  0%,
  5%,
  95%,
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  30%,
  70% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@-webkit-keyframes animsquare2 {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  35%,
  65% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@keyframes animsquare2 {
  0%,
  10%,
  90%,
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  35%,
  65% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@-webkit-keyframes animsquare3 {
  0%,
  15%,
  85%,
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40%,
  60% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@keyframes animsquare3 {
  0%,
  15%,
  85%,
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40%,
  60% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@-webkit-keyframes animsquare4 {
  0%,
  20%,
  80%,
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  45%,
  55% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@keyframes animsquare4 {
  0%,
  20%,
  80%,
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  45%,
  55% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

//end preloader
//start aside

.container-aside {
  position: fixed;
  left: 0;
  width: 70px;
  height: 100%;
  background: #222831;
  z-index: 3;
}
.container-aside .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 40px;
  height: 40px;
  background-color: #32e0c4;
  border-radius: 50%;
  display: none;
}
.container-aside .btn-close:before {
  content: "";
  position: absolute;
  display: block;
  top: -20px;
  right: -20px;
  width: 90px;
  height: 80px;
}
.container-aside .btn-close .icon-item {
  display: block;
  width: 23px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  right: 9px;
}
.container-aside .btn-close .icon-item:nth-child(2) {
  top: 19px;
}
.container-aside .btn-close .icon-item:nth-child(3) {
  top: 25px;
}
.container-aside a {
  color: #fff;
}
.container-aside .logo {
  cursor: pointer;
  position: relative;
  display: block;
  height: 80px;
  background: #32e0c4;
}
.container-aside .logo .box-icon-logo {
  position: absolute;
  top: 30px;
  left: 14px;
  right: 14px;
  height: 22px;
  width: 42px;
}
.container-aside .logo .box-icon-logo .item-logo {
  display: block;
  height: 8px;
  background-color: #fff;
  float: right;
}
.container-aside .logo .box-icon-logo .item-logo:nth-child(1) {
  width: 19px;
}
.container-aside .logo .box-icon-logo .item-logo:nth-child(2) {
  width: 32px;
}
.container-aside .logo .box-icon-logo .item-logo:nth-child(3) {
  width: 42px;
}
.container-aside .menu-item {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 80px;
  transition: all 0.3s;
}
.container-aside .menu-item .icon {
  fill: #878789;
  transition: all 0.3s;
}
.container-aside .menu-item .menu-text {
  position: absolute;
  top: 0;
  left: -170px;
  height: 70px;
  width: 170px;
  background-color: #32e0c4;
  color: #fff !important;
  font-size: 20px;
  text-align: center;
  line-height: 70px;
  color: transparent;
  transition: all 0.3s;
  z-index: 4;
}
.container-aside .menu-item:hover {
  background: #32e0c4;
}
.container-aside .menu-item:hover .icon {
  fill: #fff;
}
.container-aside .menu-item:hover .menu-text {
  color: #124268;
  left: 70px;
}
.container-aside .menu-item:focus {
  color: #198ada;
}
.container-aside .item.active .menu-item {
  background: #222831;
}
.container-aside .item.active .menu-item .icon {
  fill: #fff;
}

.icon-info {
  width: 24px;
  height: 24px;
}

.icon-fly {
  width: 22px;
  height: 21px;
}

.icon-man {
  width: 21px;
  height: 22px;
}

.icon-book {
  width: 24px;
  height: 26px;
}

.icon-doc-menu {
  width: 28px;
  height: 19px;
}

.icon-email-menu {
  width: 27px;
  height: 21px;
}
//end aside

//start header

.header {
  background-color: #222831;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  padding-left: 70px;
  z-index: 2;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.menu-btn {
  display: block;
  width: 30px;
  div {
    background-color: #fff;
    height: 3px;
    margin-bottom: 4px;
  }
}
.header__content {
  display: flex;
  align-items: center;
}
.logo {
  height: 100%;
}
.header__text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  color: #fff;
  font-size: 10px;
  span {
    font-size: 8px;
  }
}
.header__social {
  font-size: 20px;
  li {
    & + li {
      margin-left: 15px;
    }
    display: inline-block;
  }
}
.social:hover {
  color: #32e0c4;
  transition: all 0.3s;
}
.header__email,
.header__tel {
  font-size: 10px;
  line-height: 1.8;
  transition: all 0.3s;
}
.header__email:hover,
.header__tel a:hover {
  color: #32e0c4;
  transition: all 0.3s;
}

.fa-envelope:before,
.fa-phone:before {
  padding-right: 10px;
  font-size: 12px;
}

//end header

//start main screen
.main-screen {
  padding-top: 140px;
  height: 100vh;
  background: #e0f9f6;
  display: flex;
  align-items: center;
}
.main-screen__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 30%;
  }
}

.main-text {
  max-width: 700px;
  position: relative;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  color: #222831;
}

.main-text h3 {
  font-weight: 400;
  font-size: 19px;
}

.main-text h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  margin: 19px 0 22px;
  color: #393e46;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
}

.main-text h1 span {
  font-weight: 700;
  color: #32e0c4;
  text-transform: uppercase;
}

.main-text h6.ah-headline {
  font-size: 25px;
  font-weight: 500;
  margin: 15px 0 0;
  text-transform: uppercase;
}
.main-screen__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ah-headline.clip span {
  padding: 0;
}

.ah-headline.clip span b {
  font-weight: 700;
}

.ah-headline.clip .ah-words-wrapper::after {
  display: none;
}

.call-to-actions-home a:first-child {
  margin-right: 25px;
}

.main-screen__text {
  margin-bottom: 15px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  padding-right: 100px;
}

.main-screen__text--other {
  margin-bottom: 55px;
}

.video {
	display: flex;
	align-items: center;
	padding-left: 245px;
	position: relative;
	@media screen and (max-width: 1200px) {
		padding-left: 130px;
	}
	&:hover {
		.video {
			&__video {
				display: block;
			}

			&__play {
				width: 100px;
				height: 100px;
			}

			&__text {
				span::before {
					opacity: 0;
					width: 0%;
				}
			}
		}
	}
	&__play {
		cursor: pointer;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: ripple-beige 1s linear infinite;
		position: absolute;
		left: calc((140px / 2));
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.3s;
		overflow: hidden;
		border: 2px solid #32e0c4;
		svg {
			fill: #32e0c4;
			width: 27px;
			height: 26px;
		}
	}
}

@keyframes ripple-beige {
	0% {
		box-shadow: 0 0 0 0 rgba(50, 224, 196, 0.1), 0 0 0 15px rgba(50, 224, 196, 0.1),
			0 0 0 30px rgba(50, 224, 196, 0.1);
	}
	100% {
		box-shadow: 0 0 0 15px rgba(50, 224, 196, 0.1), 0 0 0 30px rgba(50, 224, 196, 0.1),
			0 0 0 45px hsla(50, 224, 196, 0);
	}
}

@keyframes ripple-white {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 15px rgba(255, 255, 255, 0.1),
			0 0 0 30px rgba(255, 255, 255, 0.1);
	}
	100% {
		box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0.1),
			0 0 0 45px rgba(255, 255, 255, 0);
	}
}

.video__text {
	font-size: 22px;
	font-family: "Staatliches";
}
.video__text span {
	cursor: pointer;
	position: relative;
}
.video__video {
	width: 240px;
	height: 240px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

@media screen and (max-width: 1200px) {
    .video{
		display: none;
	}
}


//end main screen

//start about-page
.about-page {
  padding-top: 140px;
  padding-bottom: 60px;
}
.about-page__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-page__img {
  max-width: 390px;
}

.about-page__content {
  max-width: 555px;
}
.about-page__text {
  margin-bottom: 10px;
  line-height: 1.6;
}
.about-page__btn {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.about-page__items {
  padding-top: 70px;
}
.about-page__box-title {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 700;
}
.about-page__item-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.about-page__item-name {
  font-weight: 500;
  font-size: 16px;
  color: #32e0c4;
  font-style: italic;
}
.about-page__item-number {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
.about-page__item-line {
  height: 9px;
  border-radius: 2px;
  background-color: #32e0c4;
  margin-bottom: 23px;
  span {
    display: block;
    height: 9px;
    border-radius: 2px;
    background-color: #f4f4f4;
  }
}
//end about-page

//start portfolio-page
.portfolio {
  padding: 100px 0 30px;
}
.portfolio__inner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio__inner-item {
  position: relative;
  margin-bottom: 30px;
}
.portfolio__box {
  display: inline-block;
  position: relative;
}
.portfolio__box-img {
  width: 320px;
  height: 200px;
  border-radius: 3px;
}
.portfolio__box-info {
  background-color: rgba(50, 224, 196, 0.902);
  height: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  overflow: hidden;
  border-radius: 3px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.portfolio__box-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  max-width: 310px;
}
.portfolio__box-text {
  font-size: 14px;
  max-width: 300px;
}
.portfolio__box:hover .portfolio__box-info {
  width: 325px;
  height: 205px;
  padding: 15px;
  transition: background 0.5s ease;
}
.portfolio-page__btn,
.services__btn {
  display: block;
  text-align: center;
}

//portfolio product

//start servises page
.services {
  padding: 80px 0 30px;
}
.services__title {
  margin: 30px 0;
}
.services__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-services {
  padding-bottom: 60px;
}

.services-list-icon {
  font-size: 30px;
  position: relative;
  color: #fff;
}

.services-flip {
  display: flex;
  min-height: 270px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 1200px;
  width: calc((100% - 90px) / 3);
}

.services-flip:hover .services-list {
  transform: rotate3d(1, 0, 0, 180deg);
}

.services-list {
  position: relative;
  transition-property: box-shadow, transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: inherit;
  perspective: inherit;
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
}

.services-list h5 {
  font-size: 20px;
  font-weight: 500;
}

.flip-content {
  transform: translate3d(0, 0, 60px) scale(0.85);
}
.flip-content__title,
.services-list__title {
  margin-bottom: 0;
}
.flip-content__title {
  color: #32e0c4;
}
.services-list__content {
  margin-top: 20px;
}
.services-list__text {
  margin-top: 20px;
  max-width: 320px;
}
.services-list-front {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 240px;
  background-color: #fff;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  transform-style: inherit;
  perspective: inherit;
}

.services-list-front:before {
  right: 0;
  content: "";
  position: absolute;
  background: #000;
  left: 0;
  height: 100%;
  opacity: 0.2;
}

.services-list-front h5 {
  padding: 11px 20px;
  background: #fff;
  font-size: 14px;
  border-radius: 2px;
}

.services-list-back {
  transform: rotateY(-180deg) rotateZ(-180deg);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate3d(0, 1, 0, 180deg);
  z-index: 1;
  background: #32e0c4;
  transform-style: inherit;
  perspective: inherit;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-list-back {
  transform: rotateY(-180deg) rotateZ(-180deg);
}

.services-list-back h5,
.services-list-back p {
  color: #fff;
}
.services__content {
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}
//start servises page

//start contact
.contact {
  padding-top: 70px;
}
.contact__title {
  margin: 30px 0;
}
.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__inner-item {
  max-width: 750px;
}
.contact__inner-item li {
  display: block;
}
.contact__item-box {
  color: #32e0c4;
}
.contact-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.contact-title {
  font-size: 16px;
}
.contact-content {
  margin: 10px 0 25px;
}
.contact-form__content {
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 30px;
}
.contact-form__form {
  display: flex;
  flex-direction: column;
  textarea {
    border: none;
    padding: 13px 17px;
    height: 190px;
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
    display: block;
    resize: none;
    margin-bottom: 23px;
    &::placeholder {
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  .form-button {
    outline: none;
    border: 1px solid #32e0c4;
    background: transparent;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 15px 5px;
    width: 190px;
    transition: all 1s ease;
    cursor: pointer;
  }
}
.form-button:hover {
  background: #32e0c4;
}
.form__input {
  display: flex;
  justify-content: space-between;
  input {
    outline: none;
    border: none;
    height: 43px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #f1f4f5;
    width: 360px;
    border-radius: 3px;
    display: block;
    margin-bottom: 30px;
    &::placeholder {
      font-size: 15px;
      color: #7a7a7a;
    }
  }
}
//end contact

//start modal
#modal{
  display: none;
}
#modal {
  background-color: #32e0c4;
  max-width: 430px;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 60px;
  border-radius: 3px;
}
.modal__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.modal__wrapper {
  form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    input {
      outline: none;
      border-radius: 3px;
      height: 43px;
      margin-bottom: 8px;
      border: none;
      background-color: #fff;
      color: #7a7a7a;
      font-size: 14px;
      padding-left: 40px;
      display: block;
      width: 100%;
      &::placeholder {
        color: #7a7a7a;
        font-size: 14px;
      }
    }
    textarea {
      outline: none;
      border-radius: 3px;
      height: 103px;
      margin-bottom: 8px;
      border: none;
      background-color: #fff;
      color: #7a7a7a;
      font-size: 14px;
      padding-top: 15px;
      padding-left: 40px;
      display: block;
      width: 100%;
      &::placeholder {
        color: #7a7a7a;
        font-size: 14px;
      }
    }
    .modal-button {
      border-radius: 3px;
      padding: 15px 0;
      background-color: #222831;
      width: 140px;
      text-transform: uppercase;
      border: none;
      font-weight: 700;
      color: #fff;
    }
  }
}
.fancybox-button svg path {
  color: #fff;
  stroke-width: 0;
}

//end modal

@import "media";
